:root{
  --white:rgb(207, 185, 228);
  --black: #020d19;
  --light-black:#1a2930;
}
body {
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  height: auto;
}
.heading {
  max-width: 100%;
  display: flex;
  align-items: left;
  margin-top: block;
  gap: 5px;
  text-decoration: none;
  cursor: crosshair;
}
header {
  background-color: var(--light-black);
  color: var(--white);
  padding: -20px;
  display: flex;
  margin-top: -10px;
  margin-left: -10px;
  justify-content: space-between;
}
.header_logo {
  padding: 10px;
  padding-left: 40px;
  height: 65px;
  width: 65px;
}
header h1 {
  text-align: center;
  color: var(--white);
  font-size: 35px;
}
/*Navigation Bar Open*/
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  position: sticky; /* Stays at the top when scrolled */
  top: 0;
  font-size: 23px;
  font-weight: bold;
  z-index: 10; /* Ensures navbar stays on top of content */

}
.top-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-nav li {
  margin-right: 20px;
}
.top-nav a {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
  text-align: center;
}
.top-nav a:hover {
  background-color: #020d19;
  border-radius: 20px;
}
.mobile-navbar {
  display: block;
  cursor: pointer;
  z-index: 1;
  margin: 15px;
}
.mobile-navbar-bar {
  width: 35px;
  height: 5px;
  background-color: var(--white);
  margin: 6px 0;
  transition: 0.4s;
}
.mobile-sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 70px;
  right: 0;
  background-color: var(--light-black);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.mobile-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
}
.mobile-sidenav a:hover {
  color: #f1f1f1;
  font-size: 25px;
  transition: 0.3s;
}
.mobile-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Navigation Bar Close*/
/*Footer Section open*/
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
/*Footer Section Close*/
/* Mobile Screen*/
@media only screen and (max-width : 600px) {
  h1 {
    font-size: 30px;
    margin-left: -20px;
  }
  .header_logo {
    height: 60px;
    width: 60px;
  }
  .heading {
    gap: 25px;
    margin-left: -20px;
  }
 .top-nav ul {
  display: none;
 }
 .mobile-sidenav {
  padding-top: 15px;
 }
 .mobile-sidenav a {
  font-size: 18px;
 }
}

@media only screen and (min-width:600px) {

  .mobile-sidenav,.mobile-navbar-bar ,.mobile-navbar{
    display: none;

  }
  .top-nav {
    float: right;
  }
}
