{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About-Spirit LPU</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

  <link rel="icon" href="../media/Logo_s/Sanguine New Logo/Sanguine New Logo PNG/sanguneNew Logo.png" type="image/x-icon" />
  <script src="{ % static 'js/index.js' %}"></script>
</head>

<body>
  <header>
    <a href="#" class="heading">
      <img src="../media/Logo_s/Sanguine New Logo/Sanguine New Logo PNG/Sangune New Logo !.01.png" class="header_logo">
      <h1>Spirit</h1>
    </a>
    </div>
    <nav class="top-nav">
      <ul>  
        <li><a href="../">Home</a></li>
        <li><a href="../events/">Events</a></li>
        <li><a href="../team/">Team</a></li>
        <li><a href="../eclipse/">Eclipse</a></li>
        <li><a href="../join-us/">Join Us</a></li>
        <li><a href="../about/">About</a></li>
      </ul>
    </nav>
    <div class="mobile-navbar" onclick="toggleNav()">
      <div class="mobile-navbar-bar"></div>
      <div class="mobile-navbar-bar"></div>
      <div class="mobile-navbar-bar"></div>
    </div>
    <div id="mobile-mySidenav" class="mobile-sidenav">
      <a href="../">Home</a>
      <a href="../events/">Events</a>
      <a href="../team/">Team</a>
      <a href="../eclipse/">Eclipse</a>
      <a href="../join-us/">Join Us</a>
      <a href="../about/">About</a>
    </div>
  </header>
<!--Main Content Open-->
<section class="header-1">
    <h1>Welcome to Spirit Club</h1>
    <p>"The club where possibilities become reality"</p>
    <button onclick="scrollToSection('about')">Learn More</button>
</section>

<section id="about" class="section about">
    <h2>About Spirit Club</h2>
    <p>Spirit LPU Club, a bustling community at Lovely Professional University, invites you to indulge in a multitude of entertainment events. From music concerts and stand-up comedy shows to movie screenings and cultural festivals, we offer a diverse range of options to satisfy your entertainment cravings. Our welcoming environment fosters social connections and personal growth, providing you with unforgettable experiences that enhance your university life. Join us to explore the vibrant world of entertainment and make memories that will last a lifetime.</p>
</section>

<section id="mission" class="section mission">
    <h2>Our Mission</h2>
    <p>Spread Happiness: Our goal is to create a space where everyone feels welcomed, supported, and inspired to embrace life's joys.</p>
        <p>Build Connections: We strive to connect like-minded individuals who share a passion for optimism and want to make a positive impact.</p>
        <p>Inspire Action: We encourage members to take action and spread kindness within their communities.</p>
        
    </section>

<section id="events" class="section events">
    <h2>Join the Spirit Movement</h2>
    <p> Are you ready to embrace life with a smile? Join the Spirit Club today and become part of a community that celebrates the good in life!</p>
    <button><a href="../join-us/">Join Club</a></button>
</section>


<section id="heads" class="section heads">
    <h2>Our Leads</h2>
    <div class="team-cards">
        <div class="card">
            <img src="../media/members/DSC_0392.JPG" alt="Appikonda Sai">
            <h3>Appikonda Sai</h3>
            <p>Ceo</p>
            <div class="social-links"> 
                <a href="https://www.linkedin.com/in/sai2005/" target="_blank"><img src="../media/Social_Media_Logo/Linkedin.png" alt="LinkedIn"></a>
                <a href="https://discordapp.com/users/1150473624092934254" target="_blank"><img src="../media/Social_Media_Logo/Discord.png" alt="Discord"></a>
                <a href="https://github.com/sai-200516" target="_blank"><img src="../media/Social_Media_Logo/Github-3.png" alt="GitHub"></a>
            </div>
        </div>
        <div class="card">
            <img src="../media/members/Agam_Jindal.jpg" alt="Agam Jindal">
            <h3>Agam Jindal</h3>
            <p>Co-Ceo</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/agam-jindal-379352298" target="_blank"><img src="../media/Social_Media_Logo/Linkedin.png" alt="LinkedIn"></a>
                <a href="https://discordapp.com/users/912524096741445684" target="_blank"><img src="../media/Social_Media_Logo/Discord.png" alt="Discord"></a>
                <a href="https://github.com/Agam3705" target="_blank"><img src="../media/Social_Media_Logo/Github-3.png" alt="GitHub"></a>
            </div>
        </div>
    </div>
</section>
<!--Subscribe box open-->
<section id="subscribe" class="section subscribe">
    <h2>Subscribe</h2>
    <p>Stay updated with the latest news and events from Spirit Club. Subscribe to our newsletter by filling out the form below.</p>
    <form id="subscribe-form">
        <input type="text" id="name" name="name" placeholder="Your Name" required>
        <input type="email" id="email" name="email" placeholder="Your Email" required>
        <button type="submit">Subscribe</button>
    </form>
</section>
<!--Subscribe box close-->
<!--Main Content Close-->
  <!--Footer Open-->
<br>  
<section class="contact-section">
  <h1>CONTACT US</h1>
  <div class="contact-details">
      <div class="contact-emails">
          <p><span class="icon"><img src="../media/Social_Media_Logo/Whatsapp.png" style="width: 20px; height: 20px;"></span> +91 7075005348</p>
          <p><span class="icon">📧</span>spirit.lpu@gmail.com</p>
          <p><span class="icon"><img src="../media/Social_Media_Logo/website.png" style="width: 20px; height: 20px;"></span> spirit.org.in</p>
      </div>
      <div class="footer-logo">
          <img src="../media/Logo_s/Sanguine New Logo/Sanguine New Logo PNG/sanguneNew Logo.png " alt="Spirit Logo" style="width: 200px; height: 200px;">
      </div> 
      <div class="contact-address">
          <p><span class="icon">📍</span>Spirit@LPU,<br>
            13-209 LPU,Jalandhar - Delhi,<br>
            Grand Trunk Rd, Phagwara,<br>
            Punjab 144411</p>
      </div>
  </div>
  
  <div class="social-icons">
    <a href="https://www.instagram.com/sanguine.lpu/" target="_blank"><img src="../media/Social_Media_Logo/Instagram-1.png" alt="Instagram"></a>
    <a href="https://www.facebook.com/profile.php?id=100072289938389" target="_blank"><img src="../media/Social_Media_Logo/Facebook-1.png "alt="Facebook"></a>
    <a href="https://x.com/SanguineLPU" target="_blank"><img src="../media/Social_Media_Logo/Twitter-1.png" alt="Twitter"></a>
    <a href="https://www.linkedin.com/company/74932575/" target="_blank"><img src="../media/Social_Media_Logo/Linkedin-1.png" alt="LinkedIn"></a>
</div>
</section>
</main>
<footer>
<p>© Team Spirit 2021-2025. All Rights Reserved.</p>
</footer>
<!--Footer Close-->
<script>
    function scrollToSection(id) {
    document.getElementById(id).scrollIntoView({ behavior: 'smooth' });
}

</script>
<script src="{% static 'js/about.js' %}"></script>
</body>

</html>