{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team-Spirit LPU</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}">
  <link rel="icon" href="../media/Logo_s/Sanguine New Logo/Sanguine New Logo PNG/sanguneNew Logo.png" type="image/x-icon" />
  <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
  <header>
    <a href="#" class="heading">
      <img src="../media/Logo_s/Sanguine New Logo/Sanguine New Logo PNG/Sangune New Logo !.01.png" class="header_logo">
      <h1>Spirit</h1>
    </a>
    </div>
    <nav class="top-nav">
      <ul>  
        <li><a href="../">Home</a></li>
        <li><a href="../events/">Events</a></li>
        <li><a href="../team/">Team</a></li>
        <li><a href="../eclipse/">Eclipse</a></li>
        <li><a href="../join-us/">Join Us</a></li>
        <li><a href="../about/">About</a></li>
      </ul>
    </nav>
    <div class="mobile-navbar" onclick="toggleNav()">
      <div class="mobile-navbar-bar"></div>
      <div class="mobile-navbar-bar"></div>
      <div class="mobile-navbar-bar"></div>
    </div>
    <div id="mobile-mySidenav" class="mobile-sidenav">
      <a href="../">Home</a>
      <a href="../events/">Events</a>
      <a href="../team/">Team</a>
      <a href="../eclipse/">Eclipse</a>
      <a href="../join-us/">Join Us</a>
      <a href="../about/">About</a>
    </div>
  </header>
<!--Main Content Open-->
<section class="hero-1">
    <h1>MEET THE TEAM</h1>
    <p>Our Spirit team is here to brighten your day.</p>
    <a href="#" class="button">Read More</a>
</section>

<!-- Team Members-->
<section class="team-section">
  <div class="container">
      <h2>Mentors</h2>
      <div id="mentor-container" class="team-grid"></div>
  </div>
</section>
<section class="team-section">
  <div class="container">
      <h2>Club Heads</h2>
      <div id="club-heads-container" class="team-grid"></div>
  </div>
</section>

<section class="team-section">
  <div class="container">
      <h2>Core Team</h2>
      <div id="core-team-container" class="team-grid"></div>
  </div>
</section>
<!--Main Content Close-->
<!--Footer Open-->
<br>  
<section class="contact-section">
  <h1>CONTACT US</h1>
  <div class="contact-details">
      <div class="contact-emails">
          <p><span class="icon"><img src="../media/Social_Media_Logo/Whatsapp.png" style="width: 20px; height: 20px;"></span> +91 7075005348</p>
          <p><span class="icon">📧</span>spirit.lpu@gmail.com</p>
          <p><span class="icon"><img src="../media/Social_Media_Logo/website.png" style="width: 20px; height: 20px;"></span> spirit.org.in</p>
      </div>
      <div class="footer-logo">
          <img src="../media/Logo_s/Sanguine New Logo/Sanguine New Logo PNG/sanguneNew Logo.png " alt="Sanguine Logo" style="width: 200px; height: 200px;">
      </div> 
      <div class="contact-address">
          <p><span class="icon">📍</span>Spirit@LPU,<br>
            13-209 LPU,Jalandhar - Delhi,<br>
            Grand Trunk Rd, Phagwara,<br>
            Punjab 144411</p>
      </div>
  </div>
  
  <div class="social-icons">
    <a href="https://www.instagram.com/sanguine.lpu/" target="_blank"><img src="../media/Social_Media_Logo/Instagram-1.png" alt="Instagram"></a>
    <a href="https://www.facebook.com/profile.php?id=100072289938389" target="_blank"><img src="../media/Social_Media_Logo/Facebook-1.png "alt="Facebook"></a>
    <a href="https://x.com/SanguineLPU" target="_blank"><img src="../media/Social_Media_Logo/Twitter-1.png" alt="Twitter"></a>
    <a href="https://www.linkedin.com/company/74932575/" target="_blank"><img src="../media/Social_Media_Logo/Linkedin-1.png" alt="LinkedIn"></a>
</div>
</section>
</main>
<footer>
<p>© Team Spirit 2021-2025. All Rights Reserved.</p>
</footer>
<!--Footer Close-->
<script src="{% static 'js/team.js' %}"></script>
</body>
</html>